<!DOCTYPE html>
{% extends 'App/base.html' %}
{% load static %}

{% block content %}
    <p>Unpublished Work © 2022 Adam Grzesik, Piotr Słowik</p>
    <div class="wrapper">
        <span class="minus">-</span>
        <span class="num">00</span>
        <span class="plus">+</span>
    </div>
    <script>
        const plus = document.querySelector(".plus"),
        minus = document.querySelector(".minus"),
        num = document.querySelector(".num");

        var a = 0;

        plus.addEventListener("click",()=>{
            a ++;
            a = (a < 10) ? "0" + a : a;
            num.innerText = a;
        });
        minus.addEventListener("click",()=>{
            if(a > 0){
            a--;
            a = (a < 10) ? "0" + a : a;
            num.innerText = a;
            }
        });
    </script>
    <div class="checkbox">
        <input type="checkbox" id="check">
    </div>
{% endblock %}