<!DOCTYPE html>
{% extends 'App/base.html' %}
{% load static %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
    {% for item in products %}
    <div class="itemwrapper mb-3">
        <div class="text ml-3" label for="name">{{item.name}}</div>
        <div class="box-input mr-4">
            <input type="checkbox" name="c{{item.id}}" value="clicked" >
        </div>
    </div>
    {% endfor %}
    <button type="sumbit" value="save" name="save" class="btn-lg btn-outline-secondary mb-3">Save</button>
    </form>
    </a>
    <a href="/recipe/">
        <button class="btn-lg btn-outline-secondary mb-5">Let's check your recipe!</button>
    </a>
{% endblock %}