<!DOCTYPE html>
{% extends 'App/base.html' %}
{% load static %}

{% block content %}
<form method="post" action="recipe/">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox">
            </div>
        </div>
        <label class="form-control">Przykładowy produkt1</label>
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox">
            </div>
        </div>
        <label class="form-control">Przykładowy produkt2</label>
    </div>
</form>
{% endblock %}