<!DOCTYPE html>
{% extends 'App/base.html' %}
{% load static %}


{% block content %}
    {% csrf_token %}
    <h3>{{recipe.name}}</h3>
    <p><i><small>
        Tags: {{recipe.tags}}
    </small></i></p>
    <br>
{% for item in products %}
    <ul>
        <li>{{item.name}}</li>
    </ul>
{% endfor %}
    <br>
    <p class="indent">
        {{recipe.description}}
    </p>
    <a href="/recipe/">
        <button class="btn-lg btn-outline-secondary mt-3 mb-5">Roll again!</button>
    </a>
{% endblock %}
